/* .bodyContainer img{
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    
} */

.bodyContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(../img/Armas/UmbrellaWPP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .imgT{
    margin-top: -16px;
    padding: 0;
    width: 100%;
    background-image: url(../img/RE21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.containerHeader {
    display: flex;
    width: 100%;
    background-color: transparent;
    background-blend-mode: multiply;
    
    /* position: sticky;
    top: 0; */
}

.containerASimg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* ARMAS SECUNDARIAS */
.TituloAS{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: -100px;
    margin-top: 30px;
    font-size: 150%;
}

.armasSecundarias{
    display: flex;
    margin-left: 3%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
    width: 95%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.349);
}

.containerAS{
    display: flex;
    margin: 10px;
}

.Faca{
    margin-left: 15px;
}

.ImgFaca img{
    border-radius: 10px;
    width: 60%;
    border: 1px solid white;
}

.ImgFaca{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sobrefaca {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    color: white;
    font-size: 17px;
    width: 480px;
}

.sobrefaca h3{
    display: flex;
    justify-content: center; 
    color: gold;
}

.sobrefaca p{
   display: flex;
   justify-content: center;
}

.ImgAS img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 65%;
    border: 1px solid white;
}

.ImgAS {
    display: flex;
    justify-content: center;
}

.sobreAS{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    color: white;
    font-size: 17px;
}

.sobreAS h3{
    display: flex;
    justify-content: center;
    color: gold;

}

/* PISTOLAS */

.TituloP{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;
}

.armasPistolas{
    display: flex;
    margin-left: 3%;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    padding: 70px;
    border: 1px solid white;
    border-radius: 10px;
    width: 95%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.349);
}

.linha1{
    display: flex;
    justify-content: space-between;
}

.linha2{
    display: flex;
    justify-content: space-between;
}

.linha3{
    display: flex;
    justify-content: space-between;
}

.Matilda{
    width: 100%;
    margin-right: 20%;
}

.sobreMatilda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    font-size: 17px;
    margin-bottom: 5%;
}

.sls60{
    width: 100%;
    margin-left: -50px;
}

.sobreSls60{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    font-size: 17px;
    margin-bottom: 5%;
}

.imgSls60 img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 70%;
    border: 1px solid white;
}

.JmbHp3{
    width: 100%;
    margin-right: 20%;
}

.sobreJmbHp3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120%;
    font-size: 17px;
    margin-bottom: 5%;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
}

.HcCaboDeVassoura{
    width: 100%;
    margin-left: -4%;
}

.sobreHcCaboDeVassoura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    font-size: 17px;
    margin-bottom: 5%;
}

.imgMatilda img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 45%;
    border: 1px solid white;
}

.imgMUP img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 45%;
    border: 1px solid white;
}

.sobreMUP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-size: 17px;
    margin-bottom: 5%;
}

.imgM19 img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 70%;
    border: 1px solid white;
}

.M19{
    margin-left: -6%;
}

.sobreM19{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
    font-size: 17px;
    margin-bottom: 5%;
}

.img img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 65%;
    border: 1px solid white;
}

/* ARMAS GERAL */

.armasGeral{
    display: flex;
    margin-left: 3%;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    padding: 70px;
    border: 1px solid white;
    border-radius: 10px;
    width: 95%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.349);
}

.containerAG{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
}

.imgAG img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 80%;
    border: 1px solid white;
}

.imgAG{
    display: flex;
    justify-content: center;
    width: 110%;
}

.imgLC img{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    width: 75%;
    border: 1px solid white;
}

.imgLC {
    display: flex;
    justify-content: center;
}

.sobreLC p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    font-size: 15px;
    margin-left: 90px;
}

.sobreLC h3{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: -5px;
}

.sobreLC {
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
}

.linha2Container{
    display: flex;
    margin-bottom: 100px;
    width: 110%;
}

.linha1Container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    width: 100%;
}

.sobreAG h3{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.sobreAG p{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 15px;
    margin-left: 45px;
}

.MAGNUM{
    width: 45%;
    margin-left: 10px;
}

.GM79{
    width: 45%;
    margin-left: 25px;
}