.containerPerguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 150px;
    align-self: center;
    margin-left: 37%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.txtoQuiz{
    display: flex;
    justify-content: center;
}

.txtoQuiz a{
    color: red;
}

.containerPerguntas button{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 125px;
    width: 30%;
    height: 30px;
    margin-top: 0px;
}

.btnQuiz{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.inputEmailTeste{
    display: flex;
    border-radius: 5px;
    margin-left: 110px;
    margin-bottom: 5%;
    width: 40%;
}

.btnQuiz:hover{
    /* display: flex;
    border-radius: 5px;
    margin-left: 110px;
    margin-bottom: 5%;
    width: 40%; */
    display: flex;
    transition: 0.5s;
    background-color: #681212;
    color: white;
}

#divGrafico{
    display: none;
}

.containerGrafico {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.952);
    background-blend-mode: multiply;
    border-radius: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-left: 22%;
    width: 50%;
    height: 500px;
}

.testosTeste{
    display: flex;
    font-size: 150%;
    margin-top: 10px;
}

.porcentagemAcertos{
    display: flex;
}

.boxAnalytics{
    margin-left: 30px;
    margin-bottom: 20px;
}

/* .btnLO{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 50%;
    margin-bottom: 5%;
    width: 40%;
} */

/* .btnLO:hover{
     display: flex;
    border-radius: 5px;
    margin-left: 110px;
    margin-bottom: 5%;
    width: 40%;
    display: flex;
    transition: 0.5s;
    background-color: #681212;
    color: white;
} */
