
body{
    background-color: rgb(49, 49, 49);
}

.fundoCadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 360px;
}

.imgCadastro img{
    width: 700px;
    height: 200px;
    margin-bottom: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
}

.closeBtn {
    margin-left: 20px;
    margin-top: -180px;
    z-index: 60;
}

.closeBtn img{
    width: 30px;
    height: 30px;
}

.containerCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin-top: 146px;
    background-color: rgb(25, 39, 88);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ItensCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 10px;
}

.ItensCadastro a{
    margin-top: -10px;
    margin-bottom: 10px;
    /* text-decoration: none; */
    color: rgb(147, 0, 147);

}

.ItensCadastro h4{
    color: white;
    margin-bottom: -10px;
    font-family: monospace;
    font-size: 15px;
}

.ItensCadastro input{
    margin: 5%;
    padding: 4%;
    border-radius: 10px;
}

.ItensCadastro button{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #681212;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
}

.ItensCadastro button:hover{
    display: flex;
    justify-content: center;
    width: 55%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 25px;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    border: 4px solid #681212;
    transition: 0.5s;
    background-color: transparent;
}