body {
    margin: 0;
    padding: 0;
    background-color: #1B2124;
    font-family: monospace;

}

/* HEADER NAVBAR*/

.containerGeralHome {
    width: 100%;
}

.containerHeader {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #0e0f5f;
    background-blend-mode: multiply;
    /* position: sticky;
    top: 0; */
}

.headerContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.ImgLogo img {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 10%;
    margin-left: 20%;
}

.itensNavbar {
    display: flex;
    list-style: none;
    margin-left: 40%;
    width: 100%;
    justify-content: space-evenly;
}

.itensNavbar a {
    /* margin: 100%; */
    font-size: 130%;
    color: white;
    text-decoration: none;
}

.ButtonLoggin {
    cursor: pointer;
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #681212;
}

/* EXPLICANDO HISTÓRIA */

.homeimg1 {
    display: flex;
    margin-bottom: 3%;
    background-image: url(img/RE2R.jpg);
    background-size: 100%;
    width: 100%;
    height: 700px;
    text-align: center;
    background-repeat: no-repeat;
    align-items: center;
    color: white;
}

.tituloRE2 {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    /* transition: .5s ease-out;
    transition-delay: .2s;   */
}

.tituloRE2 h3 {
    width: 100%;
    font-size: 300%;
}

.textoRE2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoRE2 p {
    display: flex;
    font-size: 150%;
    color: white;
    width: 80%;

}

/* SOBRE FRANQUIA*/

.imgWelcome {
    display: flex;
    justify-content: center;
}

.imgWelcome img {
    margin-top: 4%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
}

.tituloSobreFranquia {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: #ab2121;
    justify-content: center;
    font-size: 175%;
    margin-top: -1%;
}

.textoSobreFranquia {
    display: flex;
    justify-content: center;
    color: white;
}

.textoSobreFranquia p {
    display: flex;
    width: 80%;
    font-size: 150%;
}

.containerDivisoria {
    display: flex;
    width: 70%;
    margin: 3% 15%;
    height: 0.5px;
    background: white;
}

/* CRÍTICA */

.tituloCritica {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ab2121;
    font-size: 175%;
    margin-top: -1%;
}

.textoCritica {
    display: flex;
    justify-content: center;
    color: white;
}

.textoCritica p {
    display: flex;
    width: 80%;
    font-size: 150%;
}

.imgCritica {
    display: flex;
    justify-content: center;
}

.imgCritica img {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 40%;
}

.linkCritica {
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    width: 100%;
    font-size: 100%;
}

.linkCritica a {
    text-decoration: none;
    color: rgb(0, 179, 255);
}

/* Página PERSONAGENS */

.containerPersonagens{
    backdrop-filter: blur(10px);
}

.PersonagensImgGeral {
    display: flex;
    background-image: url(img/wpp\ RE2.jpg);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 4250px;
    background-color: #444444a6;
    background-blend-mode: multiply;
}

.PersonagensContainetGeral {
    display: flex;
    justify-content: center;
}

/* Leon */
.containerLeonGeral {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin: 5%;
    width: 60%;
   border-top-left-radius: 140px;
   border-bottom-left-radius: 140px;

}


.ImgLeon img {
    display: flex;
    margin-top: 23%;
    margin-left: 5%;
    border-radius: 55%;
}

.sobreLeon {
    font-size: 150%;
    width: 60%;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaP {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 0.5px;
    background: white;
}


/* Claire */
.containerPosition{
    display: flex;
    justify-content: end;
}

.containerClaireGeral {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 55%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
}

.ImgClaire img {
    display: flex;
    margin-top: 20%;
    margin-left: 0%;
    border-radius: 50%;
}

.sobreClaire {
    font-size: 150%;
    width: 60%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaP {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 1px;
    background: rgb(253, 253, 253);
}

/* Ada */
.containerAda {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin: 5%;
    width: 55%;
    border-radius: 0%;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
}

.ImgAda img {
    display: flex;
    margin-top: 16%;
    margin-left: 7%;
    border-radius: 55%;
}

.sobreAda {
    font-size: 150%;
    width: 60%;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaP {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 0.5px;
    background: white;
}

/* Sherry */
.containerPosition{
    display: flex;
    justify-content: end;
}

.containerSherryGeral {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 55%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
}

.ImgSherry img {
    display: flex;
    margin-top: 15%;
    margin-left: 3%;
    border-radius: 50%;
}

.sobreSherry {
    font-size: 150%;
    width: 60%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaP {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 1px;
    background: rgb(253, 253, 253);
}

/*  Annete  */

.containerAnnete {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin: 5%;
    width: 55%;
    border-radius: 0%;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
}

.ImgAnnete img {
    display: flex;
    margin-top: 24%;
    margin-left: 7%;
    border-radius: 55%;
}

.sobreAnnete {
    font-size: 150%;
    width: 60%;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaP {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 0.5px;
    background: white;
}

/* Willian */

.containerPosition{
    display: flex;
    justify-content: end;
}

.containerWillianGeral {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1a8;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 55%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
}

.ImgWillian img {
    display: flex;
    margin-top: 15%;
    margin-left: 3%;
    border-radius: 50%;
}

.sobreWillian {
    font-size: 150%;
    width: 60%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.containerDivisoriaPV {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 2px;
    background: rgb(65, 0, 0);
}

/* Viloões */

/* Tyrant */

.containerGeralTyrant{
    display: flex;
}

.containerTyrant {
    display: flex;
    justify-content: center;
    background-color: #0e0e0ebf;
    margin: 5%;
    width: 60%;
    border-radius: 0%;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
    border: 1px solid rgb(86, 85, 85);
}

.ImgTyrant img {
    display: flex;
    width: 250px;
    margin-top: 20%;
    margin-left: 7%;
    border-radius: 55%;
}

.sobreTyrant {
    font-size: 150%;
    width: 60%;
    margin-left: 10%;
    color: rgb(255, 255, 255);
}

.containerEstrategiaTyrant{
    /* background-color: rgba(255, 255, 0, 0.833); */
    background-image: url(img/note.jpeg);
    background-size: 400px;
    background-repeat: no-repeat;
    margin: 5%;
    width: 20%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.textoEstrategiaTyrant{
    display: flex;
    flex-direction: column;
}

.textoEstrategiaTyrant h3{
    display: flex;
    margin-top: 20%;
    font-size: 180%;
    justify-content: center;
}

.textoEstrategiaTyrant p{
    display: flex;
    width: 90%;
    font-size: 130%;
    margin-left: 5%;
}

.containerDivisoriaPV {
    display: flex;
    width: 90%;
    margin: 3% 5%;
    height: 2px;
    background: rgb(155, 0, 0);
}

/* Willian G */

.willianGTitulo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;
}

.containerBody{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.containerGeralG{
    justify-content: center;
    width: 60%;
    margin: 0;
    font-family: Arial;
    margin-bottom: 5%;
}

.G1 .tabcontent{
    display: flex;
    flex-direction: column;
}

.tablink {
    background-color: #662222;
    color: rgb(255, 255, 255);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: rgba(24, 24, 24, 0.999);
    color: white;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px 0px;
    height: 100%;
}

/* G1 */
#G1 {
    background-color: rgba(24, 24, 24, 0.999);
}

.ImgWG img{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.TextoG{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: -3%;
}

/* G2 */

#G2 {
    background-color: rgba(24, 24, 24, 0.999);
}

.ImgWG img{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.TextoG{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: -3%;
}

/* G3 */

#G3 {
    background-color:rgba(24, 24, 24, 0.999);
}

.ImgWG img{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.TextoG{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: -3%;
}

/* G4 */

#G4 {
    background-color:  rgba(24, 24, 24, 0.999);
}

.ImgWG img{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.TextoG{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: -3%;
}

/* G5 */

#G5 {
    background-color: rgba(24, 24, 24, 0.999);
}

.ImgWG img{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.TextoG{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: -3%;
}