body {
    margin: 0;
    padding: 0;
    background-color: #1B2124;
    font-family: monospace;

}

/* Header Navbar*/

.containerGeralHome {
    width: 100%;
}

.containerNavbar {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #0a203d;
}

.headerContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.ImgLogo img {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 14%;
    margin-left: 20%;
}

.itensNavbar {
    display: flex;
    list-style: none;
    margin-left: 40%;
    width: 100%;
    justify-content: space-evenly;
}

.itensNavbar a {
    /* margin: 100%; */
    font-size: 130%;
    color: white;
    text-decoration: none;
}

.ButtonLoggin {
    cursor: pointer;
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #681212;
}

/* Explicação História */

.homeimg1 {
    display: flex;
    margin-bottom: 3%;
    background-image: url(img/RE21.jpg);
    background-size: 100%;
    width: 100%;
    height: 700px;
    text-align: center;
    background-repeat: no-repeat;
    align-items: center;
    color: white;
}

.tituloRE2 {
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.tituloRE2 h3{
    width: 100%;
    font-size: 300%;
}

.textoRE2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoRE2 p{
    display: flex;
    font-size: 150%;
    color: white;
    width: 80%;   
}

/* Sobre Franquia*/

.imgWelcome{
    display: flex;
    justify-content: center;
}

.imgWelcome img{
    margin-top: 4%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
}

.tituloSobreFranquia{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: #ab2121;
    justify-content: center;
    font-size: 175%;
    margin-top: -1%;
}

.textoSobreFranquia{
    display: flex;
    justify-content: center;
    color: white;
}

.textoSobreFranquia p{
    display: flex;
    width: 80%;
    font-size: 150%;
}

.containerDivisoria{
    display: flex;
    width: 70%;
    margin: 3% 15%;
    height: 0.5px;
    background: white;
}

/* Crítica */

.tituloCritica{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ab2121;
    font-size: 175%;
    margin-top: -1%;
}

.textoCritica{
    display: flex;
    justify-content: center;
    color: white;
}

.textoCritica p{
    display: flex;
    width: 80%;
    font-size: 150%;
}

.imgCritica{
    display: flex;
    justify-content: center;
}

.imgCritica img{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 40%;
}
