.containerPerguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 100px;
    align-self: center;
    margin-left: 35%;
    margin-top: 50px;
}

.txtoQuiz{
    display: flex;
    justify-content: center;
}

.txtoQuiz a{
    color: red;
}

.containerPerguntas button{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 125px;
    width: 30%;
    height: 30px;
    margin-top: 0px;
}

.btnQuiz{
    display: flex;
    justify-content: center;
}